.App {
  text-align: center;
  background-image: url('./images/Rover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* html{
  background-image: url('./images/Rover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */
.leaflet-container {
  width: 900px; 
  height: 280px;
  overflow: hidden;
  margin: 10;
}

.overview-record{
  width: 900px; 
  height: 280px;
  color: black;
  text-overflow: ;
}

.topbar-homepage{
  display: flex;
  justify-content: center;
}
.Homepage{
  /* background-image: url('https://images.pexels.com/photos/163194/old-retro-antique-vintage-163194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  background-image: url('https://images.pexels.com/photos/3088778/pexels-photo-3088778.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
  height: 710px;
    padding-top:5px;
}

/* @media (max-width: 480px) {
  .Homepage {
      background-image: url('./images/Rover.jpg');
  }
} */
.home{
 
  display: flex;
  justify-content: flex-end;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  padding-right: 80px;
  padding-top:5px;
  padding-left: 50px;
  /* height: 10px; */
}

 
.title{
  /* margin: 0 auto; */
  /* width: 80%; */
  text-align: center;
  
}
.title h1{
  padding-top: 60px;
  font-family: 'Dancing Script', cursive;
  font-size: 6rem;
  color: rgb(153, 235, 255);
}

.title h4{
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  color:rgb(255, 194, 102);
}


input[type=text] {
  height: 30px;
  width: 300px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  height: 30px;
  width: 300px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

#login-button{
  padding-right: 20px;
}

.login{
  margin: auto;
  width: 20%;
  padding-top: 80px;
  
}

.login-page{
  background-image: url('https://images.pexels.com/photos/163194/old-retro-antique-vintage-163194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; background-size: cover; 
  height: 750px;
}

.login button {
  background-color: black;
  color: white;
  padding: 9px 18px;
  margin: 18px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
}

label {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  color: black;
  font-weight: 600
}

.signup{
  margin: auto;
  width: 20%;
  padding-top: 80px;
}

.signup button {
 background-image: linear-gradient(rgb(153, 235, 255),rgb(255, 194, 102));
  /* background-color: #0A4BC7; */
  color: white;
  padding: 9px 18px;
  margin: 18px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  justify-self: center;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
} 

.btns{
  padding-left: 85px;
}

.btnlogin{
  padding-left: 85px;
  padding-top: 10px;
}
.overview-page{
 padding-top: 30px;
 background-image: url("https://images.pexels.com/photos/1078850/pexels-photo-1078850.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 background-position: center center;  
 background-attachment: fixed;  
  background-repeat: no-repeat; background-size: cover; 
 /* background-color: rgb(116, 12, 12); */
 display: flex;
 flex-direction: column;
 margin: auto;
 height: 1050px;
 text-align: center;
 padding-left: 300px;
}

#binocular{
  padding-right: 80px;
  stroke: black;
  stroke-width: 5;
}
textarea{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

#photos-icon{
  padding-left: 80px;
  stroke: black;
  stroke-width: 5;
}

#marker{
  margin: auto;
  width: 5%;
  padding-top: 10px;
}

#text-overview{
  text-align: center;
  font-family: 'Oldenburg', cursive;
  font-size: 1.5rem;
}

.location-section{
  margin: auto;
  width: 20%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.upload-section{
  font-family: 'Roboto';
  margin: auto;
  width: 20%;
}
.post-section{
  margin: auto;
  width: 20%;
}

.post-section1{
  margin: auto;
  width: 40%;
  color: black;
}

.switch{
justify-self: end;
}

#post-title{
  border: 0px;
  background: transparent;
  text-decoration: underline;
}

.Navbar{
  height: 20px;
  background-color: #008B8B;
}

.feed-page{
  background-image: url("https://images.pexels.com/photos/3088778/pexels-photo-3088778.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;  
  background-attachment: fixed; 
   background-repeat: no-repeat; background-size: cover; 
}

.icons {
  display: flex;
  flex-direction: column;
}

@media(min-width:1280){
  .leaflet-container{
    width: 650px;
  height: 300px;
  overflow: hidden;
  }
}